/*
 *= require bootstrap
 *= require_self
 *= require c3
 *= require select2
 *= require_tree .
 */

body {
  background-color: #f8f9f7;
  margin:0;
  padding:0;
  height:100%;
  font-family: 'Open Sans', sans-serif;

}
a {
  color: dimgray;
}

a:hover {
  text-decoration: none;
  color: DarkOliveGreen;
}

.container {
  padding-bottom: 120px;
  background-color: #f8f9f7;

  h1 {
    // Microsofti font ktery jinde neni
    // font-family: "Trebuchet MS", "sans-serif";
  }
}

.select2-container.select2-container-multi {
  width: 100% !important;
}

#komplet {
	background-color: #FFFFFF;
    min-height:100%;
    position:relative;
    padding: 0;
    color: #333333;
  background-color: #f8f9f7;
}


#titulka    {
	background-color: #EBE8D7;
	height: 150px;
	text-align: center;
	border-radius: 10px;
	box-shadow: 2px 2px 2px #888888;
}

#search {
	box-shadow: 2px 2px 2px #888888;
}


#obchod {
	background-color: #C86F73;
	border-color: #C86F73;
	height: 90px;
	border-radius: 10px;
	box-shadow: 2px 2px 2px #888888;
}

#restaurace{
	background-color: #717135;
	border-color: #717135;
	height: 90px;
	border-radius: 10px;
	box-shadow: 2px 2px 2px #888888;
}

#kafe {
	background-color:#725421;
	border-color: #725421;
	height: 90px;
	border-radius: 10px;
	box-shadow: 2px 2px 2px #888888;
}

#pivo {
	background-color:#2F7582;
	border-color:#2F7582;
	height: 90px;
	border-radius: 10px;
	box-shadow: 2px 2px 2px #888888;
}


#footer {
	background-color: #8b8b7f;
    width: 100%;
    margin: 0px;
    position:absolute;
    padding-bottom: 5px;
    padding-right: 10px;
    color: #eee;

  h3 a {
    font-size: 18px;
    color: #eee;
  }
}


#tfheader {
	text-align: center;
}

#novamista ul, #novinky ul {
  list-style: none;
}

.signin a, {
  background-color: #2F7582;
  padding: 10px;
  color: #ccc;

}

.signin {
  margin-top: 30px;
}

.intro {
  margin-top: 10px;
}

.logo {
  width: 800px;
  margin: auto;
  display: block;
}