/*
 *= require bootstrap
 *= require_self
 *= require c3
 *= require select2
 *= require_tree .
 */

.container
  h1 {
  // Microsofti font ktery jinde neni
  font-family: "Trebuchet MS", "sans-serif";
}

.logged-in {
    list-style: none;
    margin-top: 15px;
}

.select2-container.select2-container-multi {
  width: 100% !important;
}

#komplet {
	background-color: #FFFFFF;
}


#titulka    {
	background-color: #EBE8D7;
	height: 150px;
	text-align: center;
	border-radius: 10px;
	box-shadow: 2px 2px 2px #888888;

}

#search {
	box-shadow: 2px 2px 2px #888888;
}


#obchod {
	background-color: #C86F73;
	border-color: #C86F73;
	height: 90px;
	border-radius: 10px;
	box-shadow: 2px 2px 2px #888888;
}

#restaurace{
	background-color: #717135;
	border-color: #717135;
	height: 90px;
	border-radius: 10px;
	box-shadow: 2px 2px 2px #888888;
}

#kafe {
	background-color:#725421;
	border-color: #725421;
	height: 90px;
	border-radius: 10px;
	box-shadow: 2px 2px 2px #888888;
}

#pivo {
	background-color:#2F7582;
	border-color:#2F7582;
	height: 90px;
	border-radius: 10px;
	box-shadow: 2px 2px 2px #888888;
}

#novamista{
	height: 250px;
	border:1px solid #AEAEA2;
	border-radius: 10px;
}

#novinky{
	height: 250px;
	border:1px solid #AEAEA2;
	border-radius: 10px;
}

#footer {
	background-color: #AEAEA2;
	height:250px;
	border-radius: 10px;
}

#komplet{
	font-family: courier;
	color: #333333;
}

#tfheader {
	text-align: center;

}

.administration {
  position: absolute;
  bottom: 0;
  right: 8px;
}

#map-canvas {
border-radius: 10px;
box-shadow: 2px 2px 2px #888888;
	
}
