/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


.container h1 {
    font-family: "Trebuchet MS";
}

/* tohle pak smazat*/

/*{*/
  /*border: 1px dashed #3A5FCD;*/
/*}*/

.logged-in {
    list-style: none;
    margin-top: 15px;
}

#komplet {
	width:;
}

#titulka    {
	background-color: #EBE8D7;
	height: 150px;

}


#obchod {
	background-color: #E3CCBA;
	border-color: #E3CCBA;
	height: 90px;
	border-radius: 1px;
}

#restaurace{
background-color: #AEAEA2;
border-color: #AEAEA2;
height: 90px;
border-radius: 1px;
}

#kafe {
	background-color:#B0A166;
	border-color: #B0A166;
	height: 90px;
	border-radius: 1px;
}

#pivo {
	background-color:#91C0C8;
	border-color:#91C0C8;
	height: 90px;
	border-radius: 1px;
}

#novamista{
	height: 250px;
	border:1px solid #AEAEA2;
}

#novinky{
	height: 250px;
	border:1px solid #AEAEA2;
}

#footer {
	background-color: #AEAEA2;
	height:250px;
}

#komplet{
	font-family: courier;
	color: #333333;
}

