/*
 *= require bootstrap
 *= require_self
 *= require c3
 *= require select2
 *= require_tree .
 */

body {
  background: url('pozadi.png');
  background-repeat: no-repeat;
  margin:0;
  padding:0;
  height:100%;
  font-family: 'Open Sans', sans-serif;
}
a {
  color: dimgray;
}

a:hover {
  text-decoration: none;
  color: DarkOliveGreen;
}

.container {
  background-color: #f8f9f7;
  opacity: 0.95;
  border-radius: 10px;
}

.select2-container.select2-container-multi {
  width: 100% !important;
}

#komplet {
    min-height: 100%;
    position: relative;
    padding: 0;
    color: #333333;
}

#titulka    {
	background-color: #EBE8D7;
	height: 150px;
	text-align: center;
	border-radius: 10px;
	box-shadow: 2px 2px 2px #888888;
}

#search {
	box-shadow: 2px 2px 2px #888888;
}

#footer {
	background-color: #8b8b7f;
    color: #eee;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  h3 a {
    font-size: 18px;
    color: #eee;
  }
}

#tfheader {
	text-align: center;
}

#novamista ul, #novinky ul {
  list-style: none;
}

.signin a, {
  background-color: #2F7582;
  padding: 10px;
  color: #ccc;
}

.signin {
  margin-top: 30px;
}

.intro {
  margin-top: 10px;
}

.logo {
  width: 900px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 80px;
  display: block;
}

.new-place-form {
  margin-bottom: 70px;
  margin-top: 50px;
}

.decoration {
  width: 100%;
}