// Place all the styles related to the places controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Map */
 #map-canvas { 
 	height: 400px 
 }

/* Map elements */
.search-ui {
  	position:absolute;
  	top:10px;
  	right:20px;
  	z-index:1000;
 }

.leaflet-control-locate {
    border:1px solid rgba(0,0,0,.75);
}

.leaflet-control-locate a {
    background-color:#fff;
    background-size:19px 19px;
    background-image:url("map-marker.png");
    background-repeat:no-repeat;
    background-position:center center;
}

.leaflet-control-locate.active a {
    background-image:url("map-marker-active.png");
}
