// Place all the styles related to the places controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Map */
 #map-canvas { 
 	  height: 500px;
    /*border-radius: 10px;*/
    box-shadow: 2px 2px 2px #888888;
    border-style: solid;
    border-width: 1px;

 }

/* Filter map menu */
.filter-ui {
  background:#fff;
  position:absolute;
  top:10px;right:25px;
  z-index:1;
  border-radius:3px;
  padding-left: 10px;
  width:130px;
  border:1px solid rgba(0,0,0,0.4);
  }


/* Checkboxes */
label {
  font-weight: normal;
}
/*input[type="checkbox"] {
    display:none;
}
input[type="checkbox"] + label {
    font-weight: normal;
    display:inline-block;
    width:19px;
    height:19px;
    padding: 2px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url("check_radio_sheet.png") -38px top no-repeat;
    cursor:pointer;
}
input[type="checkbox"]:checked + label {
    background:url("check_radio_sheet.png") -57px top no-repeat;
}

span{
  padding-left: 20px;
}*/

/* Map elements */
.search-ui {
  	position:absolute;
  	top:10px;
  	right:20px;
  	z-index:1000;
 }

.leaflet-control-locate {
    border:1px solid rgba(0,0,0,.75);
}

.leaflet-control-locate a {
    background-color:#fff;
    background-size:19px 19px;
    background-image:url("map-marker.png");
    background-repeat:no-repeat;
    background-position:center center;
}

.leaflet-control-locate.active a {
    background-image:url("map-marker-active.png");
}
