// Place all the styles related to the places controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Map */
 #map-canvas { 
 	  height: 500px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #888888;

 }

/* Filter map menu */
.filter-ui {
  background:#fff;
  position:absolute;
  top:10px;right:10px;
  z-index:1;
  border-radius:3px;
  width:120px;
  border:1px solid rgba(0,0,0,0.4);
  }

  .filter-ui a {
    font-size:13px;
    color:#404040;
    display:block;
    margin:0;padding:0;
    padding:10px;
    text-decoration:none;
    border-bottom:1px solid rgba(0,0,0,0.25);
    text-align:center;
    }

    .filter-ui a:hover {
      background:#2F7582;
      color:#FFF;
      }
    .filter-ui a.active {
      background:#2F7582;
      color:#FFF;}

/* Map elements */
.search-ui {
  	position:absolute;
  	top:10px;
  	right:20px;
  	z-index:1000;
 }

.leaflet-control-locate {
    border:1px solid rgba(0,0,0,.75);
}

.leaflet-control-locate a {
    background-color:#fff;
    background-size:19px 19px;
    background-image:url("map-marker.png");
    background-repeat:no-repeat;
    background-position:center center;
}

.leaflet-control-locate.active a {
    background-image:url("map-marker-active.png");
}
