<h1> Statistics </h1>
<div class="well">
  <p class="stat-title"> Total users: </p>
  <p class="stat-value"> <%= @users.count %> </p>
</div>

<div class="well">
  <p class="stat-title"> Total places: </p>
  <p class="stat-value"> <%= @places.count %> </p>
</div>

<div class="well">
  <p class="stat-title"> Total actualities: </p>
  <p class="stat-value"> <%= @actualities.count %> </p>
</div>
