<div class="row">
  <div class="col-md-12" id="titulka"><h1>Přidej nové místo</h1>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= render "form" %>

      <%= link_to "Back", places_path %>
    </div>

  </div>
</div>
